body {
  background-image: linear-gradient(to bottom, #e4edfa, #e6effa, #e8f0fb, #eaf2fb, #ecf3fb, #eff4fc, #f1f6fc, #f4f7fd, #f7f9fd, #fafbfe, #fdfdfe, #ffffff);
    min-height: 100vh;
    font-family: arial;
}

@media (max-width: 550px) {
body {
/* width */
&::-webkit-scrollbar {
    width: 8px;
    
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(172, 172, 172); 
    border-radius: 150px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 184, 184); 
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgb(148, 148, 148); 
  }
}
 }