// ----------------------------- Rubik
@font-face {
  font-family: "Rubik-medium";
  src: url("../../fonts/Rubik/Rubik-Medium.ttf") format("woff");
}

@font-face {
  font-family: "Rubik-regular";
  src: url("../../fonts/Rubik/Rubik-Regular.ttf") format("woff");
}

// ----------------------------- roboto
@font-face {
  font-family: "roboto-Black";
  src: url("../../fonts/roboto/Roboto-Black.ttf") format("woff");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../../fonts/roboto/Roboto-Bold.ttf") format("woff");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../../fonts/roboto/Roboto-Medium.ttf") format("woff");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../../fonts/roboto/Roboto-Regular.ttf") format("woff");
}
@font-face {
  font-family: "roboto-light";
  src: url("../../fonts/roboto/Roboto-Light.ttf") format("woff");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../../fonts/roboto/Roboto-Thin.ttf") format("woff");
}
