// base elements
$header-background: #FFFFFF;
$website-background: #F6F7F8;

// controller element:
$controller-v1: #577BF9;
$controller-v2: #324eb4;

// text color:
$text-color-v1: #000000;
$text-color-v2: #424242;
$text-color-v3: #FFFFFF;
$text-color-v4: #AAB3C5;
$text-color-v5: #9aa2b3;
$text-color-v6: #f0f0f0;
$text-color-transparent: #c0c0c044;

$fixed-screen-background: #000000b9;

// scrollbar 
$scrollBar-width: 8px;

// - website size.
$max-width-sections: 90vw;
$width-sections: 55rem;
$form-width: 75%;
$form-max-width: 50rem;


$form-width_mobile: 90%;
$form-max-width_mobile: 40rem;


// break-point 
$mobile-breakpoint: 580px;

